{% extends "recession_analyzer/base.html" %}
{% load tethys_gizmos %}
{% block app_content %}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
    var gages = ['11476500', '11477000'];

    function showValue(newValue, rangex) {
        document.getElementById(rangex).innerHTML=newValue;
    }

    function updateSeries(currGage, type) {
        for (i = 0; i < gages.length; i++) {
            var x = document.getElementById(type + gages[i]);
            x.style.visibility = 'hidden';
            x.style.display = 'none';
        }
        var y = document.getElementById(type + currGage);
        y.style.visibility = 'visible';
        y.style.display = 'block';
    }

    function updatePlots(gage) {
        updateSeries(gage, 'plot');
        updateSeries(gage, 'AB');
        updateSeries(gage, 'table');
    }
</script>

<div class="row">
    <div class="col-md-3">
        <form method="post" >
            <input type="submit" name="analyze" class="btn btn-primary" value="Analyze recessions"><br>
            <br>
            {% gizmo select_input gages_options %}
            {% gizmo date_picker start_options %}
            {% gizmo date_picker stop_options %}
            {% gizmo toggle_switch concave_options %}
            {% gizmo toggle_switch nonlinear_fitting_options %}


        {% csrf_token %}
            <br/>
            <strong> Peak extract = <span id="rec_sense_initial">{{ rec_sense_initial }} </span></strong>
            {% gizmo range_slider rec_sense_options %}
            <br/>
            <strong>A.S.I. factor = <span id="antecedent_moisture_initial">{{ antecedent_moisture_initial }} </span></strong>
            {% gizmo range_slider antecedent_moisture_options %}
            <br/>
            <strong>   Lag rec start = <text id="lag_start_initial">{{ lag_start_initial }} </text></strong>
            {% gizmo range_slider lag_start_options %}
            <br/>
            <strong>   Min recession len = <text id="min_length_initial">{{ min_length_initial }}</text></strong>
            {% gizmo range_slider min_length_options %}
        </form>
    </div>
    {% if submitted %}
        <div class="col-md-9">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-5">
                        {% gizmo select_input select_gage_options %}
                    </div>
                </div>
                {% for plot in scatter_plot_view %}
                    <div class="row">
                        <div class="col-md-6" id="AB{{ plot.attributes.id }}">
                            {% gizmo plot_view plot %}
                        </div>
                        <div class="col-md-6" id="table{{ plot.attributes.id }}">
                            {% gizmo table_view ab_table %}
                        </div>
                    </div>
                {% endfor %}
                {% for plot in line_plot_view %}
                    <div class="row">
                        <div class="col-md-12" id="plot{{ plot.attributes.id }}">
                            {% gizmo plot_view plot %}
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    {% endif %}
    <script type="text/javascript">
                    /* var jsonString = "{{ gage_json }}".replace(/&quot;/g, "\"");
                    var workingJson = JSON.parse(jsonString);
                    setGages(workingJson); */
                    updatePlots(gages[0]);
    </script>
</div>



{% endblock %}

{% block scripts %}
<link href='https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css' rel="stylesheet">
{{ block.super }}
{% endblock %}

